#map{
    width: 100% !important;
    height: 100% !important;
    background-color: #f6f6f4;//color gris de los mapas
}

.boton-regresar {
    position: fixed;
    top: 35px;
    right: 12px;
    color: blue;
    font-size: 23px !important;
  }